mistral::engine::execution_field_size_limit_kb: 65536
mistral::rpc_response_timeout: 300
zaqar::max_messages_post_size: 3145728
zaqar::config::zaqar_config:
  oslo_messaging_kafka/producer_batch_size:
    value: 65536
heat::max_json_body_size: 8388608
heat::max_template_size: 1048576
