parameter_defaults:
  # ------------------------------------------------------- #
  # Nova Scheduler Filter
  # ------------------------------------------------------- #
  NovaSchedulerAvailableFilters: ["nova.scheduler.filters.all_filters","nova.scheduler.filters.pci_passthrough_filter.PciPassthroughFilter"]
  NovaSchedulerDefaultFilters: ['RetryFilter','AvailabilityZoneFilter','DiskFilter','RamFilter','CoreFilter','NUMATopologyFilter','ComputeFilter','ComputeCapabilitiesFilter','ImagePropertiesFilter','ServerGroupAntiAffinityFilter','ServerGroupAffinityFilter','PciPassthroughFilter','AggregateCoreFilter','AggregateDiskFilter','AggregateRamFilter','AggregateInstanceExtraSpecsFilter']
