parameter_defaults:
  DeploymentServerBlacklist:
#    - overcloud-controller-0
#    - overcloud-controller-1
#    - overcloud-controller-2
#-----------------------------------------------------------#
# Leaf1                                                     #
#-----------------------------------------------------------#
#    - overcloud-compute-dell-0
#-----------------------------------------------------------#
# Leaf2                                                     #
#-----------------------------------------------------------#
